<script type="text/javascript">
    function translate() {
        target = document.getElementById("targetLanguage").value;
        siteUrl = window.location.href;
        siteUrl = "https://sips.symblox.io";
        console.log(siteUrl);
        window.location.href = `http://fanyi.baidu.com/transpage?from=en&to=${target}&source=url&render=1&query=${encodeURI(
            siteUrl
        )}`;
    }
</script>
<div
    class="topnav"
    id="translate_element"
    style="float: right; margin-left: 1em; line-height: 54px"
>
    <select
        id="targetLanguage"
        style="margin: 10px"
        onblur="window.translate()"
    >
        <option value="">选择语言</option>
        <option value="zh">中文（简体）</option>
        <option value="sq">阿尔巴尼亚语</option>
        <option value="ara">阿拉伯语</option>
        <option value="est">爱沙尼亚语</option>
        <option value="bul">保加利亚语</option>
        <option value="pl">波兰语</option>
        <option value="dan">丹麦语</option>
        <option value="de">德语</option>
        <option value="ru">俄语</option>
        <option value="fra">法语</option>
        <option value="fin">芬兰语</option>
        <option value="kor">韩语</option>
        <option value="nl">荷兰语</option>
        <option value="cs">捷克语</option>
        <option value="rom">罗马尼亚语</option>
        <option value="pt">葡萄牙语</option>
        <option value="jp">日语</option>
        <option value="swe">瑞典语</option>
        <option value="slo">斯洛文尼亚语</option>
        <option value="sw">斯瓦希里语</option>
        <option value="gd">苏格兰盖尔语</option>
        <option value="ceb">宿务语</option>
        <option value="so">索马里语</option>
        <option value="tg">塔吉克语</option>
        <option value="te">泰卢固语</option>
        <option value="ta">泰米尔语</option>
        <option value="th">泰语</option>
        <option value="wyw">文言文</option>
        <option value="spa">西班牙语</option>
        <option value="el">希腊语</option>
        <option value="hu">匈牙利语</option>
        <option value="it">意大利语</option>
        <option value="vie">越南语</option>
        <option value="yue">粤语</option>
        <option value="cht">中文（繁体）</option>
    </select>
</div>
